doctype html
html
  head
    title
    meta(charset="utf-8")
    meta(content="yes" name="apple-mobile-web-app-capable")
    meta(content="yes" name="apple-touch-fullscreen")
    meta(content="telephone=no,email=no" name="format-detection")
    meta(content="maximum-dpr=2" name="flexible")
    meta(content="modeName=750-12" name="grid")
    script(src="assets/js/vendor.min.js")
    link(href="assets/css/app.css")
  body
    block nav
    block content
    block footer
    script(src="assets/js/app.js")